#########################################################################################################################################################################################
#                                                                                                                                                                                       # 
#    Input parameters and Directories                                                                                                                                                   #
#                                                                                                                                                                                       #                
#           FactCovar: Categorical (factor) covariates (separated by comma). I will add to the covariates.txt file and MatrixEQTL will use it.                                          #
#           NumCovar: Numerical covariate. Factor and numerical covariates must be present in Phenotype file.                                                                           #
#           Dist: Distance in KB for defining Cis QTLs.                                                                                                                                 #
#           chr: Chromosomes for running the analysis (can be one digit between 1 and 22 or multiple numbers separated by comma or "all" to run the analysis on all chromosomes)        #
#           TransCrossChr: if "yes" the Trans QTLs will find in cross chromosome mode.                                                                                                  #
#           Overwrite: Set it to "yes" to overwrite the previous results.                                                                                                               #
#           ###############################################################                                                                                                             #
#                                                                                                                                                                                       #
#           Set TransPvalue > 0 and CisPvalue = 0 (or use Matrix_eQTL_engine) to perform eQTL analysis without using gene/SNP locations.                                                #
#             Associations significant at the pvOutputThreshold level are be recorded in output_file_name and in the returned object.                                                   # 
#                                                                                                                                                                                       #
#           Set TransPvalue = 0 and CisPvalue > 0 to perform eQTL analysis for local gene-SNP pairs only.                                                                               #
#             Local associations significant at CisPvalue level will be recorded in output_file_name.cis and in the returned object.                                                    #
#                                                                                                                                                                                       #
#           Set TransPvalue > 0 and CisPvalue > 0 to perform eQTL analysis with separate p-value thresholds for local and distant eQTLs.                                                #
#             Distant and local associations significant at corresponding thresholds are recorded in output_file_name and output_file_name.cis respectively and in the returned object. # 
#             In this case the false discovery rate is calculated separately for these two sets of eQTLs.                                                                               #
#                                                                                                                                                                                       #
#           for more information see ?Matrix_eQTL_main in R                                                                                                                             #
#                                                                                                                                                                                       #
#           ###############################################################                                                                                                             #
#                                                                                                                                                                                       #
#                                                                                                                                                                                       #
#########################################################################################################################################################################################

ScriptDir=./R

PhenotypeFile=./Example/QTL.Sample.Phenotype.csv
ExpressionFile=./Example/QTL.Sample.Expression.rds
GeneLocationFile=./Example/QTL.Sample.GeneLocation.csv
GenotypeBinaryPrefix=./Example/QTL.Sample

OutPrefix=./Example/Results/QTL.Sample

FactCovar="Sex,Plate,Pool,BraakStage"
NumCovar="Age,RIN"
Dist=1e+6
CisPvalue=1e-5
TransPvalue=1e-5
chr=all
TransCrossChr=no
SavecsvCis=yes
SavecsvTrans=yes
Overwrite=no
#########################################################################################################################################################################################
